.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #b7e4c7;
    background-color: #081c15;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#passwordOutput {
    font-size: 2em;
    color: #081c15;
    background-color: #b7e4c7;
    border-radius: 5px;
    padding: 5px 10px;
    /*margin-bottom: 20px;
    word-break: break-all;*/
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #081c15;
    background-color: #b7e4c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
  background: #eaeaea;
}

#length {
    width: 4ch;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #081c15;
    background-color: #b7e4c7;
    border: none;
    border-radius: 5px;
}

.password-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

#passwordOutput {
  resize: none;
  width: 24ch;
}

/*#copyBtn {
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 4px;
}

#copyBtn:hover {
  background: #eaeaea;
}*/
